<div class="control-view container mb-0">
    <div class="control__sort">
        <label class="mr-1">Order:</label>
        <select ng-model="selectValue"
                ng-options="option for option in selectOptions">
        </select>
    </div>
    <div class="control__date">
        <label>Only date</label>
        <input type="checkbox" ng-model="isOnlyDate">
    </div>
    <div class="control__search">
        <label class="mr-1">Search</label>
        <input ng-model="inputSearch">
    </div>
</div>
